{% extends "base.html" %}
{% block content %}
<div class="row">
    <h3 class="text-center">Subjects Form </h3>
    <ul class="list-group">
        {% for subject in gui_sujects %}
           <div class="bs-callout bs-callout-{{callout_list|random}}">
                <div class="panel-body">
                    <div class="panel-info">
                        <h4><strong>{{ subject.id }}</strong></h4>
                        <p>{{ subject.NameOfTheSubject }}</p>
                        <p>{{ subject.LastUpdate }}</p>

                    </div>
                </div>
            </div>
        </a>
        </li>
        {% endfor %}
    </ul>
</div>
<div class="row text-right">
    <nav>
    <ul class="pagination pagination-lg">
        <li class="page-item">
            {% if Subjectss.has_previous %}
            <a class="page-link" href="?page={{ Subjectss.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a>
            {% endif %}
        </li>
        {% with pages_max=objects.number|add:"2" pages_min=Subjectss.number|add:"-2" %}
        {% for page in Subjectss.paginator.page_range %}
            {% if page < pages_max and page > pages_min and page != objects.number %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page }}">
                    {{ page }}
                  </a>
                </li>
            {% elif page == Subjectss.number %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page }}">
                    {{ page }}
                  </a>
                </li>
            {% endif %}
        {% endfor %}
        {% endwith %}
         <li class="page-item">
             {% if Subjectss.has_next %}
             <a class="page-link" href="?page={{ Subjectss.next_page_number }}" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
             {% endif %}
        </li>
    </ul>
    </nav>
</div>

{% endblock %}


